<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
        body {background-color:grey;}
        h1 {color: crimson}
        li {color: ghostwhite}
        p1 {color: ghostwhite}
    </style>
</head>
<body>
    <h1>MAIN PAGE</h1>
        <p1>I will use his page for the background features of the site.</p1>
    <h2>List of Links</h2>
        <ol type='1'>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
        </ol>

</body>
</html>