

{% extends 'base.html' %}

{% block header_text %}Start a new To-Do list{% endblock %}

{% block form_action %}/lists/new{% endblock %}


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do lists</title>
    <style>
        body {background-color:black;}
        h1 {color: ghostwhite;}
        li {color: ghostwhite;}
        p1 {color: ghostwhite;}
        input {color: blue;}
        td {color: ghostwhite;}

    </style>
</head>

<body>
    <h1>Start a new To-Do list</h1>
    <form method="POST" action="/lists/new">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
        {% csrf_token %}
    </form>
</body>

</html>

__>